<!DOCTYPE html>
<html>
  <head>
    <title>BMO Comment Counts</title>
    <meta name="description" content="Bugzilla bugs with most active comments in the past week">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://code.cdn.mozilla.net/fonts/zilla-slab.css" rel="stylesheet">
    <link href="https://code.cdn.mozilla.net/fonts/fira.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Mozilla
      </h1>
      <h2>
        Bugzilla bugs with most active comments in the past week
      </h2>
    </header>

    <main>
      <section class="bugs">
        <ul class="buglist">
          <li>Loading…</li>
        </ul>
      </section>
      <section class="link">
        <p>
          <a href="">Link to buglist</a> on Bugzilla.
        </p>
      </section>
    </main>

    <p>
      <small>Mozilla Public</small>
    </p>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="/client.js"></script>

  </body>
</html>
